@tailwind base;

@tailwind components;

@tailwind utilities;

.app-wrapper {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {

  display: flex;
}

.admin-layout {
  display: flex;
  flex-direction: row;
}

.admin-content {
  flex: 1;
}